<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello, world!</h1>
    <p>수평 거터</p>
    <div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3">Custom column padding</div>
    </div>
    <div class="col">
      <div class="p-3">Custom column padding</div>
    </div>
  </div>
</div>

	<hr>
	<p>수평 거터 2</p>
	<div class="container overflow-hidden text-center">
	  <div class="row gx-5">
	    <div class="col">
	     <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Custom column padding</div>
	    </div>
	  </div>
	</div>

	<hr>
	<p>수직 거터</p>
	<div class="container overflow-hidden text-center">
	  <div class="row gy-5">
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	  </div>
	</div>
	
	<hr>
	<p>수평 & 수직 거터</p>
	<div class="container text-center">
	  <div class="row g-2">
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	    <div class="col-6">
	      <div class="p-3">Custom column padding</div>
	    </div>
	  </div>
	</div>

	<hr>
	<p>행열 거터</p>
	<div class="container text-center">
	  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	    <div class="col">
	      <div class="p-3">Row column</div>
	    </div>
	  </div>
	</div>
	
	<hr>
	<p>거터 제거</p>
	<div class="row g-0 text-center">
	  <div class="col-sm-6 col-md-8">.col-sm-6 .col-md-8</div>
	  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
	</div>
		
	
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>