<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <h1>Navs and tabs</h1>
    <ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>기본 - 마크업 없이</p>
    <nav class="nav">
	  <a class="nav-link active" aria-current="page" href="#">Active</a>
	  <a class="nav-link" href="#">Link</a>
	  <a class="nav-link" href="#">Link</a>
	  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	</nav>
	
    <hr>
    <p>수직 정렬</p>
    <ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>오른쪽 정렬</p>
    <ul class="nav justify-content-end">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
	    
    <hr>
    <p>수직 정렬</p>
    <ul class="nav flex-column">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>ul 없이 a 태그 사용</p>
    <nav class="nav flex-column">
	  <a class="nav-link active" aria-current="page" href="#">Active</a>
	  <a class="nav-link" href="#">Link</a>
	  <a class="nav-link" href="#">Link</a>
	  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	</nav>
    
    <hr>
    <p>탭</p>
    <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>필</p>
    <ul class="nav nav-pills">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>언더라인</p>
    <ul class="nav nav-underline">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>필과 채우기</p>
    <ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Much longer nav link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>필과 채우기 2</p>
    <nav class="nav nav-pills nav-fill">
	  <a class="nav-link active" aria-current="page" href="#">Active</a>
	  <a class="nav-link" href="#">Much longer nav link</a>
	  <a class="nav-link" href="#">Link</a>
	  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	</nav>

    <hr>
    <p>필과 채우기 3</p>
    <ul class="nav nav-pills nav-justified">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Much longer nav link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>필과 채우기 4 - a 태그</p>
	    <nav class="nav nav-pills nav-justified">
	  <a class="nav-link active" aria-current="page" href="#">Active</a>
	  <a class="nav-link" href="#">Much longer nav link</a>
	  <a class="nav-link" href="#">Link</a>
	  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	</nav>

    <hr>
    <p>플렉스 유틸리티</p>
    <nav class="nav nav-pills flex-column flex-sm-row">
	  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Active</a>
	  <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
	  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
	  <a class="flex-sm-fill text-sm-center nav-link disabled" aria-disabled="true">Disabled</a>
	</nav>
    
    <hr>
    <p>드롭다운 사용하기</p>
    <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
	    <ul class="dropdown-menu">
	      <li><a class="dropdown-item" href="#">Action</a></li>
	      <li><a class="dropdown-item" href="#">Another action</a></li>
	      <li><a class="dropdown-item" href="#">Something else here</a></li>
	      <li><hr class="dropdown-divider"></li>
	      <li><a class="dropdown-item" href="#">Separated link</a></li>
	    </ul>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
    <hr>
    <p>드롭다운이 있는 필</p>
    <ul class="nav nav-pills">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Active</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
	    <ul class="dropdown-menu">
	      <li><a class="dropdown-item" href="#">Action</a></li>
	      <li><a class="dropdown-item" href="#">Another action</a></li>
	      <li><a class="dropdown-item" href="#">Something else here</a></li>
	      <li><hr class="dropdown-divider"></li>
	      <li><a class="dropdown-item" href="#">Separated link</a></li>
	    </ul>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
    
  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>